<!-- Inicio de contenedor de la app de Personal-->
 <div class="row card">
    <form ng-submit="validDataForm(historyData)" class="col s12">
      <br>
      <span class="blue-text">Datos Paciente:</span>
       
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">picture_in_picture</i>
          <input id="id_paciente" type="text" class="validate" name="id_paciente" 
                 maxlength="10" ng-model="historyData.id_paciente" required>
          <label for="id_paciente">Cedula</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombres" name="nombres" maxlength="40" type="tel" class="validate" 
                 ng-model="historyData.nombres" required>
          <label for="nombres">Nombres</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">contact_phone</i>
          <input id="telefono" name="telefono" type="text" class="validate" maxlength="10" 
                 ng-model = "historyData.telefono" required>
          <label for="telefono">Teléfono</label>
        </div>
       </div>
      <div class="row">
        <div class="input-field col s2">
          <i class="material-icons prefix">today</i>
          <input id="fecha_nacimiento" type="date" class="validate datepicker" 
                 name="fecha_nacimiento" ng-model="historyData.fecha_nacimiento" required>
          <label for="fecha_nacimiento">Fecha Nac</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">email</i>
          <input id="mail" name="mail" maxlength="45" type="email" class="validate" 
                 ng-model="historyData.mail">
          <label for="mail">Mail</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">my_location</i>
          <input id="direccion" name="direccion" type="text" class="validate" 
                 maxlength="120" ng-model="historyData.direccion" required>
          <label for="direccion">Dirección</label>
        </div>
       </div>
       <span class="blue-text">Datos Referente:</span>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombre_referente" type="text" class="validate" name="nombre_referente" 
                 maxlength="40" ng-model="historyData.nombre_referente">
          <label for="nombre_referente">Nombre</label>
        </div>
      <div class="input-field col s4">
          <i class="material-icons prefix">contact_phone</i>
          <input id="telefono_referente" name="telefono_referente" type="text" class="validate" 
                 maxlength="10" ng-model="historyData.telefono_referente">
          <label for="telefono_referente">Teléfono</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">email</i>
          <input id="mail_referente" name="mail_referente" maxlength="45" type="email" 
                 class="validate" ng-model="historyData.mail_referente">
          <label for="mail_referente">Email</label>
        </div>
       </div>
        <span class="blue-text">Datos Familiar:</span>
   <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombre_familiar" type="text" class="validate" name="nombre_familiar" 
                 maxlength="40" ng-model="historyData.nombre_familiar">
          <label for="nombre_familiar">Nombre</label>
        </div>
      <div class="input-field col s4">
          <i class="material-icons prefix">contact_phone</i>
          <input id="telefono_familiar" name="telefono_familiar" type="text" class="validate" 
                 maxlength="10" ng-model = "historyData.telefono_familiar">
          <label for="telefono_familiar">Teléfono</label>
        </div>
   </div>
   <br>
      <div class="row">
         <div class="input-field col s4">
         <span class="orange-text">Antecedentes Médicos:</span>    
        </div>
        <div class="input-field col s4">
         <a class="btn teal lighten-2">Agregar</a>   
        </div>
      </div>
        <br>
       <table class="bordered">
          <tr>
             <th>Tipo</th>
             <th>Detalle</th>
             <th>Accion</th>
          </tr>
          <tr>
             <td>Medico</td>
             <td>Operacion</td>
             <td><a href="" class="red-text">Quitar</a></td>
          </tr>
       </table>
       <br>
        <hr>
       <div class="row">
       <div class="col s4 offset-s8">
       <input type="submit" value="Guardar" class="btn">
       <a href="" class="btn red">Cancelar</a>
      </div>
      </div>
        <br>
      </form>
    </div>
  <script type="text/javascript">
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 180, // Creates a dropdown of 15 years to control year
    format: 'dd/mm/yyyy'
  });
       
  </script>