<!-- Inicio de contenedor de la app de Personal-->
 <div class="row card">
    <form class="col s12">
      <br>
      <span class="blue-text">Datos Nuevo Usuario:</span>
       
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">picture_in_picture</i>
          <input id="username" type="text" class="validate" name="username" maxlength="30" ng-model="user.username">
          <label for="username">Usuario</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="apellidos" name="apellidos" maxlength="30" type="text" class="validate" ng-model="user.apellidos">
          <label for="apellidos">Apellidos</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="nombres" name="nombres" maxlength="30" type="text" class="validate" ng-model="user.nombres">
          <label for="nombres">Nombres</label>
        </div>
       </div>
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">email</i>
          <input id="mail" name="mail" maxlength="45" type="email" class="validate" ng-model="user.mail">
          <label for="mail">Mail</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">lock_outline</i>
          <input id="password" name="password" maxlength="45" type="password" class="validate" ng-model="user.password">
          <label for="password">Contraseña</label>
        </div>
       </div>


       <br>
       <div class="row">
       <div class="col s4 offset-s8">
       <input type="submit" value="Guardar" class="btn">
       <a href="" class="btn red">Cancelar</a>
      </div>
      </div>
      </form>
    </div>
  <script type="text/javascript">
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 180, // Creates a dropdown of 15 years to control year
    format: 'dd/mm/yyyy'
  });
       
  </script>