  <div class="row card">
  <div class="col s4">
    <span style="font-size:20px;" class="teal-text teal-darken-5"><b>{{historyData.nombres}}</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:16px;" class="teal-text teal-darken-4">Historia: <b>
    <a href="#/presentar-historia/{{historyData.id_historia}}">{{historyData.id_historia}}</a></b></span>
  </div>
  <div class="col s4">
    <span style="font-size:16px;" class="teal-text teal-darken-4">CI: <b>{{historyData.id_paciente}}</b></span>
  </div>
  <div style="background-color:#f1f1f1;">
  .
  </div>
    <form class="col s12" ng-submit="validDataTreatmentForm(historyData, employeedData, tratamiento )">
    <br>
      <span class="blue-text">Datos Paciente:</span>
      <div class="row">
        <div class="input-field col s6">
      <md-autocomplete 
      md-selected-item="selectedItem" 
      md-autofocus
      md-search-text="searchText" 
      md-items="item in keyValueCustomer(searchText)" 
      md-selected-item-change  = "chageCustomerItem(item);"
      md-item-text="item.display">
        <md-item-template>
          <span md-highlight-text="searchText">{{ item.display}}</span>
        </md-item-template>
        <md-not-found>
          El paciente <b>{{searchText}}</b> no existe, <a href="#/crear-historia" class="btn">crear historia</a>
        </md-not-found>
      </md-autocomplete>
</div>
        <div class="col s3">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">{{historyData.telefono}}</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Referente: </b> 
        <span class="grey-text text-darken-2">{{historyData.nombre_referente}}</span>
        </div>
        
      </div>
      <div class="row">
         <div class="col s5">
        <b class="teal-text text-lighten-2">Manejo: </b> 
       <span class="grey-text text-darken-2">{{historyData.manejo}}</span>
        </div>
         <div class="col s4">
        <b class="teal-text text-lighten-2">Examen Físico: </b> 
        <span class="grey-text text-darken-2">{{historyData.examen_fisico}}</span>
        </div>
         <div class="col s3">
        <b class="teal-text text-lighten-2">Registrado: </b> 
        <span class="grey-text text-darken-2">{{historyData.creado}}</span>
        </div>
      </div>
      <br>
<span class="blue-text">Datos Médico Tratante:</span>
            <div class="row">
        <div class="input-field col s3">
          
 <md-autocomplete 
  md-search-text="searchText2" 
  md-items="item2 in keyValueEmployee(searchText2)" 
  md-selected-item-change  = "chageEmployeeItem(item2)"
  md-item-text="item2.display">
   <md-item-template>
     <span md-highlight-text="searchText2">{{ item2.display }}</span>
   </md-item-template>
   <md-not-found>
     Dr. <b>{{searchText2}}</b> no existe, <a href="#/crear-historia" class="btn">ingresar personal</a>
   </md-not-found>
 </md-autocomplete>
</div>
        <div class="col s3">
        <b class="teal-text text-lighten-2">Celular: </b> 
       <span class="grey-text text-darken-2">{{employeedData.celular}}</span>
        </div>    
        <div class="col s3">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">{{employeedData.telefono_fijo}}</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Mail: </b> 
        <span class="grey-text text-darken-2">{{employeedData.mail}}</span>
        </div>
        
      </div>
      <br>
      <hr>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <input id="motivo" type="text" class="validate" name="motivo" ng-model="tratamiento.motivo_tratamiento" maxlength="360">
          <label for="motivo">Motivo</label>
        </div>
      </div>
     <br>
      <div class="row">
        <div class="input-field col s2">
          <i class="material-icons prefix">#</i>
          <input style="font-size:20px;" type="number" name="sesiones" id="sesiones" ng-model="tratamiento.nro_sesiones" maxlength="2">
          <label for="id_paciente">Sesiones</label>
        </div>
                <div class="input-field col s2">
          <i class="material-icons prefix">$</i>
          <input  style="font-size:20px;"type="text" name="costo" id="costo" ng-model="tratamiento.costo" maxlength="6">
          <label for="costo">Costo $</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix">trending_down</i>
          <input style="font-size:20px;"type="text" name="descuento" id="descuento" ng-model="tratamiento.descuento" maxlength="6">
          <label for="descuento">% Descueto</label>
        </div>
        <div class="input-field col s2">
           <input type="checkbox" id="iva" name="iva" ng-model="tratamiento.iva"/>
           <label for="iva">IVA</label>
        </div>
            <div class="input-field col s4">
           <h5 class="right-align">Costo/Sesión: {{(tratamiento.costo-tratamiento.descuento)/tratamiento.nro_sesiones | currency:" $  "}}</h5>
           <h5 class="right-align">Subtotal: {{tratamiento.costo-tratamiento.descuento  | currency:" $  "}}</h5>
           <h5 class="right-align" 
           ng-show="tratamiento.iva">
           IVA: {{(tratamiento.costo - tratamiento.descuento)* 0.12  | currency:" $  "}} </h5>
           <h5 class="right-align" ng-show="!tratamiento.iva"><span class="teal-text">Total: {{(tratamiento.costo-tratamiento.descuento) | currency:" $  "}}</span></h5>
           <h5 class="right-align" ng-show="tratamiento.iva"><span class="teal-text">Total: {{(tratamiento.costo-tratamiento.descuento) * 1.12| currency:" $  "}}</span></h5>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 offset-s8">
          <input id="enviar" type="submit" class="btn" value="Guardar">
          <a href="#/listar-tratamientos" class="btn red">Volver</a>
        </div>
      </div>
      <p>&nbsp;</p>
    </form>
  </div>