<form class="col s12">
       <div class="row">
         <div class="input-field col s4">
          <i class="material-icons prefix">list</i>
          <input id="tipo" type="text" class="validate" name="tipo" maxlength="40" ng-model="antecedente.tipo">
          <label for="tipo">Tipo</label>
        </div>
      <div class="input-field col s6">
          <i class="material-icons prefix">detail</i>
          <input id="nombre_familiar" type="text" class="validate" name="nombre_familiar" maxlength="40" ng-model="paciente.nombre_familiar">
          <label for="nombre_familiar">Descripcion</label>
        </div>
         <div class="input-field col s2">
          <button class="btn"> Eliminar</button>
        </div>
        </div>
       </form>