<!-- Inicio de contenedor de la app de Personal-->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <p class="text-center text-info"><span class="glyphicon glyphicon-user pull-left">&nbsp;</span><h4 class="text-center text-info">Registro personal MEDIPERBARICA S.A.</h4></p>
      </div>
      <div class="panel-body">
      <div class="alert alert-warning text-center" ng-show="personal.nombres">
          Se Encuentra Editando Valores Del Empleado: <b> {{personal.nombres}} </b>
      </div>
        <div class="form-horizontal" name="frmpersonals" id="frmpersonals">
          <fieldset>
            <!-- row -->
            <!-- Text input-->
            <span class="help-block"> <b>1.- Información del Personal:</b> <small class=" text-info">Datos personales e informaci&oacute;n de contacto</small></span> 
            <hr>
            <div class="row">
                <span class="col-md-1 control-label">Cédula:</span>  
              <div class="col-md-2">
                <input name="id_personal" autofocus ng-model="personal.id_personal" placeholder="Cedula/Pasaporte" class="form-control input-md" type="text" maxlength="10">
                <div ng-show="!personal.id_personal">
                  <small class="text-danger">Requerido</small>
                  <br> 
                  <p class="label label-default">10 digitos sino completar con Ceros</p>
                </div>
            </div>
            <!-- Text input-->
              <span class="col-md-1 control-label">Nombres:</span>  
              <div class="col-md-4">
                <input name="nombres" ng-model="personal.nombres" placeholder="Ingrese los nombres" class="form-control input-md" type="text" maxlength="40">
                <div ng-show="!personal.nombres">
                  <small class="text-danger">Requerido</small>
                  <br> 
                  <p class="label label-default">Ingresar al menos nombre y apellido</p>
                </div>
              </div>
              <span class="col-md-1 control-label">Email:</span>  
             <div class="col-md-3">
                <input name="email" ng-model="personal.mail" placeholder="algo@algo.ext" class="form-control input-md" type="mail" maxlength="45">
                <div ng-show="!personal.mail">
                  <small class="text-danger">Requerido</small>
                  <br> 
                  <p class="label label-default">El mail será usado para envio de citas</p>
                </div>
              </div>
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">              
            <!-- Text input-->
              <span class="col-md-1 control-label">Celular:</span>  
              <div class="col-md-2">
                <input name="celular" ng-model="personal.celular" placeholder="Celular" class="form-control input-md" type="text" maxlength="10">
              </div>
            <!-- Text input-->
              <span class="col-md-1 control-label">Tel&eacute;fono:</span>  
                <div class="col-md-2">
                <input name="telefono" ng-model="personal.telefono" placeholder="Teléfono" class="form-control input-md" type="text" maxlength="10">
                <div ng-show="!personal.telefono">
                  <small class="text-danger">Requerido</small>
                </div>
              </div>
            <!-- Text input-->
              <span class="col-md-1 control-label">Direccion:</span>  
              <div class="col-md-5">
                <input name="direccion" ng-model="personal.direccion" placeholder="Ciudad,Dirección,Edificio" class="form-control input-xx" type="text" maxlength="120">
                  <div ng-show="!personal.direccion">
                  <small class="text-danger">Requerido</small>
                </div>
              </div>
            </div>
                        <div class="row">              
            <!-- Text input-->
              <span class="col-md-1 control-label">Fecha Nac.</span>  
              <div class="col-md-2">
                <input name="fecha_nacimiento" ng-model="personal.fecha_nacimiento" placeholder="aaaa-mm-dd" class="form-control input-md" type="text" maxlength="10" id="fecha">
                  <div ng-show="!personal.fecha_nacimiento">
                  <small class="text-danger">Requerido</small>
                </div>
              </div>
            <!-- Text input-->
              <span class="col-md-1 control-label">Notas:</span>  
              <div class="col-md-8">
                <input name="direccion" ng-model="personal.direccion" placeholder="Apuntes adicionales" class="form-control input-xx" type="text" maxlength="120">
              </div>
            </div>
            <hr>

          </fieldset>
          <div class="pull-right ">
            <button ng-click="clearForm()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-unchecked">&nbsp;</span>Limpiar Campos </button>
            <a href="#/buscar" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-list">&nbsp;</span> Listar personals </a>
            <button ng-click="validForm(personal)" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-save">&nbsp;</span> Guardar personal</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $('#fecha').datepicker({
        format: "yyyy-mm-dd",
        startView: 2,
        startDate: "1920-01-01",
        todayBtn: "linked",
        orientation: "top left",
        autoclose: true,
        todayHighlight: true
});
    </script>
<!--fin  contenedor de la app de Personal-->