  <div class="row">
     <div class="col s4">
        <div class="card-small ">
        <div class="card light-blue accent-3">
        <span class="card-title">Hisotrias</span>
            <div class="card-content">
              <p>Seccion de Hisotrias</p>
            </div>
            <div class="card-action grey lighten-3">
              <a href="#/listar-historias"> <span class="blue-text text-darken-2">Entrar</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card-small">
        <div class="card light-blue lighten-3">
        <span class="card-title">Tratamientos</span>
            <div class="card-content">
              <p>Información sobre tratamientos</p>
            </div>
            <div class="card-action grey lighten-3">
              <a href="# "> <span class="blue-text text-darken-2">Entrar</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card-small">
        <div class="card teal lighten-3">
         <span class="card-title">Sesiones</span>
            <div class="card-content">
              <p>Consultar estado de las seciones</p>
            </div>
            <div class="card-action grey lighten-3">
              <a href="# "> <span class="blue-text text-darken-2">Entrar</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
      <div class="col s4">
        <div class="card-small">
        <div class="card green lighten-3">
        <span class="card-title">Facturas</span>
            <div class="card-content">
              <p>Seccion para facturas</p>
            </div>
            <div class="card-action grey lighten-3">
              <a href="# "> <span class="blue-text text-darken-2">Entrar</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card-small ">
        <div class="card light-green lighten-3">
        <span class="card-title">Imprimir Hisotrias</span>
            <div class="card-content">
              <p>Seccion de Hisotrias</p>
            </div>
            <div class="card-action grey lighten-3">
              <a href="# "> <span class="blue-text text-darken-2">Entrar</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card-small">
        <div class="card blue-grey lighten-3">
         <span class="card-title">Sesiones</span>
            <div class="card-content">
              <p>Consultar estado de las seciones</p>
            </div>
            <div class="card-action grey lighten-3">
              <a href="# "> <span class="blue-text text-darken-2">Entrar</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>