  <div class="row">
      <div class="col s6 card-panel teal lighten-2">
        <H5> <b>{{lstHistoriesData.length}} </b> Historias Encontradas</h5>
      </div>
      <div class="col s6">
      	<input placeholder="Buscar" id="buscar" ng-model="buscar" type="text" class="validate">
          <label for="buscar">Buscar</label>
      </div>
    </div>
     <div align="center" ng-show ="counter < 1">
      <img src="../../app/images/ajax-loader.gif">
         <br>
         Cargando...
  </div>
        
		<table class="highlight responsive-table bordered" ng-show="counter > 0">
		<thead>
			<th>#</th>
			<th>Nombres</th>
			<th>CI</th>
			<th>Edad</th>
			<th>Tratamientos</th>
			<th>Telefono</th>
			<th>Mail</th>
			<th>Referente</th>
			<th>Registro</th>
			<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in lstHistoriesData | filter:buscar track by $index">
                <td>{{$index}}</td>
				<td>
				<a href="#/presentar-historia/{{row.id_historia}}">
				{{row.nombres}}</a></td>
				<td>{{row.id_paciente}}</td>
				<td>{{row.edad}}</td>
				<td>{{row.tratamientos}}</td>
				<td>{{row.telefono}}</td>
				<td>{{row.mail}}</td>
				<td>{{row.nombre_referente}}</td>
				<td>{{row.creado}}</td>
				<td>
					<!-- Boton de Actividades -->
					    	<a href="#/editar-historia/{{row.id_historia}}">
					    		<i class="material-icons right">edit</i>
					    	</a>					
					    	<a href="#/asignar-antecedente/{{row.id_historia}}">
					    		<i class="material-icons right">print</i>
					    	</a>
				</td>
			</tr>
		</tbody>
	</table>
  <div class="fixed-action-btn vertical click-to-toggle" style="top: 55px; right: 20px;">
     <a class="btn-floating btn-large waves-effect waves-light red" href="#/crear-historia">
     <i class="material-icons">add</i></a>
  </div>