 <div class="row">
      <div class="col s6 card-panel teal lighten-2">
        <H5> <b>{{lsTreatmentsData.length}} </b> Tratamientos Encontrados</h5>
      </div>
      <div class="col s6">
      	<input placeholder="Buscar" id="buscar" ng-model="buscar" type="text" class="validate">
          <label for="buscar">Buscar</label>
      </div>
    </div>
     <div align="center" ng-show ="lsTreatmentsData.length < 1">
      <img src="../../app/images/ajax-loader.gif">
         <br>
         Cargando...
  </div>
        
		<table class="highlight responsive-table bordered" ng-show ="lsTreatmentsData.length > 0">
		<thead>           
			<th>ID</th>
			<th>Paciente</th>
			<th>Teléfono</th>
			<th>Sess Rel</th>
			<th>Sess Pen</th>
			<th>Doctor</th>
			<th>Ult Sess</th>
			<th>Acciones</th>			
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in lsTreatmentsData | filter:buscar">
                <td><a href="#/presentar-tratamiento/{{row.id_tratamiento}}">{{row.id_tratamiento}}</a></td>
				<td><a href="#/presentar-historia/{{row.id_historia}}">{{row.paciente}}</a></td>
				<td>{{row.telefono}}</td>
				<td>{{row.seiones_realizadas}}</td>
				<td>{{row.nro_sesiones - row.seiones_realizadas}}</td>
                <td> <a href="#/presentar-personal/{{row.id_personal}}">{{row.personal}}</a></td>
				<td>{{row.ultima_sesion}}</td>
				<td>

					    <a href="#/editar-tratamiento/{{row.id_tratamiento}}">
					    		<i class="material-icons right">edit</i>
					    	</a>					
					    	<a href="tratamiento/imprimir/{{row.id_tratamiento}}" target="_blank">
					    		<i class="material-icons right">print</i>
					    	</a>
					
					
				</td>
			</tr>
		</tbody>
	</table>
	<div class="fixed-action-btn vertical click-to-toggle" style="top: 55px; right: 20px;">
     <a class="btn-floating btn-large waves-effect waves-light red" href="#/crear-tratamiento/0">
     <i class="material-icons">add</i></a>
  </div>