<div ng-bind-html="tplPresentHistory">
	
</div>

  <div class="row">
      <div class="col s6 card-panel teal lighten-2">
        <H5> <b>{{historias.length}} </b> Historias Encontradas</h5>
      </div>
      <div class="col s6">
      	<input placeholder="Buscar" id="buscar" ng-model="buscar" type="text" class="validate">
          <label for="buscar">Buscar</label>
      </div>
    </div>
     <div class="progress" ng-show ="counter < 1">
      <div class="indeterminate"></div>
  </div>
        
		<table class="highlight responsive-table bordered" ng-show ="counter > 1">
		<thead>
			<th>ID</th>
			<th>Nombres</th>
			<th>Edad</th>
			<th>Tratamientos</th>
			<th>Telefono</th>
			<th>Mail</th>
			<th>Referente</th>
			<th>Registro</th>
			<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in historias | filter:buscar">
				<td>{{row.id_historia}}</td>
				<td>
				<a href="" ng-click="presentHistory(row.id_historia)">
				{{row.nombres}}</a></td>
				<td>{{row.edad}}</td>
				<td>{{row.tratamientos}}</td>
				<td>{{row.telefono}}</td>
				<td>{{row.mail}}</td>
				<td>{{row.nombre_referente}}</td>
				<td>{{row.creado}}</td>
				<td>
					<!-- Boton de Actividades -->
					    	<a href="#/editar-hisotoria/{{row.id_historia}}">
					    		<i class="material-icons right">edit</i>
					    	</a>					
					    	<a href="#/asignar-antecedente/{{row.id_historia}}">
					    		<i class="material-icons right">add</i>
					    	</a>
				</td>
			</tr>
		</tbody>
	</table>
  <div class="fixed-action-btn vertical click-to-toggle" style="top: 55px; right: 20px;">
     <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>