  <div class="row card">
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Nombre: <b>Camara hiperbarica</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Modelo: <b>1000</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Marca: <b>HH500</b></span>
  </div>
    <div class="col s12">
    <br>
      <span class="grey-text" style="font-size:18px;">Datos Equipo:</span>
      <br>
      <br>
      <div class="row">
        <div class="col s3">
        <b class="teal-text text-lighten-2">nro_serie: </b> 
        <span class="grey-text text-darken-2">FACh41210006</span>
        </div> 
         <div class="col s3">
        <b class="teal-text text-lighten-2">Mail: </b> 
        <span class="grey-text text-darken-2">eduardouio7@gmail.com</span>
        </div>   
        <div class="col s3">
        <b class="teal-text text-lighten-2">Notas: </b> 
        <span class="grey-text text-darken-2">Equipo Nuevo</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Fecha Reg: </b> 
        <span class="grey-text text-darken-2">01-01-2015</span>
       </div>
      </div>
<br>
<br>

      <div class="row">
         <div class="col s5">
             <span class="btn">Editar</span>
             <span class="btn">Volver</span>
             <span class="btn red">Borrar</span>
         </div>
      </div>
      
    </div>
  </div>

