  <div class="row card">
  <div class="col s3">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Eduardo Villota</span>
  </div>
  <div class="col s3">
    <span style="font-size:18px;" class="teal-text teal-darken-4">CI/RUC: <b>1722919725</b></span>
  </div>
  <div class="col s3">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Tratamiento 10</span>
  </div>
  <div class="col s3">
    <span style="font-size:18px;" class="teal-text teal-darken-4">ID Sesion 3</span>
  </div>
    <div class="col s12">
    <br>
      <span class="blue-text">Datos Paciente:</span>
      <div class="row">    
              <div class="col s3">
        <b class="teal-text text-lighten-2">Nombre: </b> 
        <span class="grey-text text-darken-2">Jorgito Villota</span>
        </div>
        <div class="col s3">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">0992936569</span>
        </div>  
        <div class="col s4">
        <b class="teal-text text-lighten-2">Direccion: </b> 
        <span class="grey-text text-darken-2">Dr. German Lopez</span>
        </div>
        <div class="col s2">
        <b class="teal-text text-lighten-2">Sesion N: </b> 
        <span class="grey-text text-darken-2">1</span>
        </div>
        
      </div>
      <br>
            <span class="blue-text">Detalle de Sesion:</span>
      <div class="row">    
              <div class="col s3">
        <b class="teal-text text-lighten-2">Medico: </b> 
        <span class="grey-text text-darken-2">Luis Andrade</span>
        </div>
        <div class="col s2">
        <b class="teal-text text-lighten-2">Equipo: </b> 
        <span class="grey-text text-darken-2">Camara 1</span>
        </div>  
        <div class="col s4">
        <b class="teal-text text-lighten-2">Fecha/ Hora: </b> 
        <span class="grey-text text-darken-2">2011-01-20 / 13:00 </span>
        </div>
        <div class="col s3">
        <b class="teal-text text-lighten-2">Registro: </b> 
        <span class="grey-text text-darken-2">2011-01-20 12:00:01</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col s12">
        <b class="teal-text text-lighten-2">Notas: </b> 
        <span class="grey-text text-darken-2">Estas son las notas del tratamiento</span>
        </div>
      </div>
      </div>
      <div class="row">
        <div class=" col s4 offset-s8">
          <a href="" class="btn">Modificar</a>
          <a href="" class="btn red">Cancelar</a>
        </div>
      </div>
    </div>
  </div>