  <div class="row card">
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Eduardo Villota</span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Historia: <b>1000</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Antecedentes 3</span>
  </div>
    <form class="col s12">
    <br>
      <span class="blue-text">Datos Paciente:</span>
      <br>
      <div class="row">
        <div class="col s3">
        <b class="teal-text text-lighten-2">Edad </b> 
        <span class="grey-text text-darken-2">25 Años</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Cédula: </b> 
        <span class="grey-text text-darken-2">1722919725</span>
        </div>    
        <div class="col s3">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">0992936569</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Referente: </b> 
        <span class="grey-text text-darken-2">Dr. German Lopez</span>
        </div>
        
      </div>

      <span class="orange-text">Detalle Antecedente:</span>
      <br>
      <div class="row">
     
        <div class=" col s12">
           <table class="bordered">
           <tr>
             <th>Item</th>
             <th>Tipo</th>
             <th>Detalle</th>
             <th>Registr</th>
           </tr>
           <tr>
             <td>1</td>
             <td>Cirujia</td>
             <td>Cirujia de colon</td>
             <td>2011-01-01</td>
           </tr>
           </table>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="input-field col s4 offset-s8">
          <a href="" class="btn red">Cerrar</a>
        </div>
      </div>
    </form>
  </div>