  <div class="row card">
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Eduardo Villota: <b>1722919725</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Cargo: <b>Medico Tratante</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Tratamientos Realizados 3</span>
  </div>
    <div class="col s12">
    <br>
      <span class="grey-text" style="font-size:18px;">Datos Personal:</span>
      <br>
      <div class="row">
        <div class="col s3">
        <b class="teal-text text-lighten-2">Tel: </b> 
        <span class="grey-text text-darken-2">022226906</span>
        </div> 
         <div class="col s3">
        <b class="teal-text text-lighten-2">Mail: </b> 
        <span class="grey-text text-darken-2">eduardouio7@gmail.com</span>
        </div>   
        <div class="col s3">
        <b class="teal-text text-lighten-2">Celular: </b> 
        <span class="grey-text text-darken-2">0995450021</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Fecha Reg: </b> 
        <span class="grey-text text-darken-2">01-01-2015</span>
       </div>
      </div>
      <div class="row">
         <div class="col s5">
        <b class="teal-text text-lighten-2">Dirección: </b> 
       <span class="grey-text text-darken-2">Av. Humberto Albornoz y 12 de Agosto La Comuna</span>
        </div>
         <div class="col s7">
        <b class="teal-text text-lighten-2">Notas: </b> 
        <span class="grey-text text-darken-2">Agun Valor Para elAgun Valor Para el Examen</span>
        </div>
      </div>
<br>
      <div class="row">
         <div class="col s5">
             <span class="btn">Editar</span>
             <span class="btn">Volver</span>
             <span class="btn red">Borrar</span>
         </div>
      </div>
      
    </div>
  </div>

