<div class="row card">
<table class="bordered">
    <tr class="titulo">
        <td class="grey lighten-2"><span>Nombres: {{historyData.nombres}}</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Tratamientos: #</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Historia: {{historyData.id_historia}}</td>
    </tr>
    <tr>
        <td><b>CI:</b> {{historyData.id_paciente}}</td>
        <td><b>Teléfono:</b> {{historyData.telefono}}</td>
        <td colspan="5"><b>Fecha Nacimiento:</b> {{historyData.fecha_nacimiento}}</td>
        <td colspan="5" ><b>Dirección:</b> {{historyData.direccion}} </td>
    </tr>
    <tr>
        <td colspan="3"><b>Examen Físico:</b> {{historyData.examen_fisico}}</td>
        <td colspan="4"><b>Manejo:</b> {{historyData.manejo}}</td>
        <td colspan="3"><b>Correo:</b> {{historyData.mail}} </td>
        <td colspan="2"><b>Registro:</b> {{historyData.creado}}</td>
    </tr>
    <tr>
        <td colspan="12" class="grey lighten-3">
            Referencias Familiares:
        </td>
    </tr>
    <tr>
        <td colspan=6><b>Nombre: {{historyData.nombre_familiar}}</b></td>
        <td colspan=6><b>Teléfono: {{historyData.telefono_familiar}}</b> </td>
    </tr>
        <tr>
        <td colspan="12" class="grey lighten-3">
            Médico Referente:
        </td>
    </tr>
    <tr>
            <td colspan="4"><b>Nombres:</b> {{historiData.nombrereferente}}</td>
            <td colspan="4"><b>Mail:</b> {{historyData.mail_referente}}</td>
            <td colspan="4"><b>Telefono:</b> {{historyData.telefono_referente}}</td>
    </tr>
    <tr>
        <td colspan="12" class="orange lighten-3">Antecedentes Médicos:</td>
    </tr> 
    <tr ng-repeat= "row in antecedentsData track by $index">
        <td colspan="8"><b>Antecedente {{$index + 1}}: </b> {{row.antecedente}}</td>
    </tr>
</table>
    <br>
    <br>
    <hr>
      <div class="row">
         <div class="col s12">
             &nbsp;&nbsp;&nbsp;
            <a class="btn" href="">Añadir Antecedente</a>
             <a class="btn" href="#/editar-historia/{{historyData.id_historia}}">Editar</a>
             <a class="btn" href="#/crear-tratamiento/{{historyData.id_paciente}}">Iniciar Tratamiento</a>
             <a class="btn" href="#/listar-historias">Volver</a>
             &nbsp;&nbsp;&nbsp;
             <a class="btn red" >Borrar</a>
         </div>
      </div>
    <br>

</div>