  <div class="row card">
  <div class="col s4">
    <span style="font-size:20px;" class="teal-text teal-darken-4">Factura 001-001-000102</span>
  </div>
    <div class="col s12">
    <br>
      <span class="blue-text">Datos Cliente:</span>
      <div class="row">
        <div class="input-field col s3">
          
 
 Juan Catlos asas
</div>
        <div class="col s2">
        <b class="teal-text text-lighten-2">Cédula: </b> 
        <span class="grey-text text-darken-2">1722919725</span>
        </div>    
        <div class="col s2">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">0992936569</span>
        </div>  
        <div class="col s5">
        <b class="teal-text text-lighten-2">Dirección: </b> 
        <span class="grey-text text-darken-2">Dr. German Lopez</span>
        </div>
        
      </div>
      <br>
<span class="blue-text">Seleccione Tratamiento:</span>
            <div class="row">
        <div class="input-field col s6">
          
Alguna coas
</div>
     <div class="col s2">
        <b class="teal-text text-lighten-2">Saldo: </b> 
        <span class="red-text text-darken-2" style="font-size:20px;">180.00</span>
        </div>
        <div class="input-field col s2">
        <input type="number" name="abono" id="abono" ng-model="abono" maxlength="5" style="font-size:20px;">
          <label for="abono">Abono $</label>
        </div>
        <div class="col s2">
        <span class="btn grey">Agregar</span>
        </div>
</div>
<div class="row">
        <div class="col s2">
        <b class="teal-text text-lighten-2">Sesiones: </b> 
       <span class="grey-text text-darken-2" style="font-size:20px;">10</span>
        </div>    
        <div class="col s2">
        <b class="teal-text text-lighten-2">Costo: </b> 
        <span class="grey-text text-darken-2" style="font-size:20px;">190.30</span>
        </div>  
        <div class="col s2">
        <b class="teal-text text-lighten-2">Descuento: </b> 
        <span class="grey-text text-darken-2" style="font-size:20px;">10.30</span>
        </div>
        <div class="col s2">
        <b class="teal-text text-lighten-2">Total: </b> 
        <span class="grey-text text-darken-2" style="font-size:20px;">180.00</span>
        </div>
       <div class="col s2">
        <b class="teal-text text-lighten-2">Abonos: </b> 
        <span class="grey-text text-darken-2" style="font-size:20px;">18.00</span>
        </div>
        <div class="col s2">
        <b class="teal-text text-lighten-2">IVA: </b> 
        <span class="grey-text text-darken-2" style="font-size:20px;">Si</span>
        </div>
      </div>
      <br>
<span style="font-size:20px;" class="teal-text text-lighten-2">Detalle Factura (001-001-000102)</span>
<br>
<br>
      <div class="row">
      <table class="bordered">
      <tr>
        <td>Item</td>
        <td>Cant</td>
        <td>Descripción</td>
        <td>V Uni</td>
        <td>V Tot</td>
        <td>V Opcion</td>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>Abono Tratamiento Eduardo Villota</td>
        <td>103.00</td>
        <td>103.00</td>
        <td><a href="" class="red-text">Eliminar</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
        <td>Abono Tratamiento Eduardo Villota</td>
        <td>103.00</td>
        <td>103.00</td>
        <td><a href="" class="red-text">Eliminar</a></td>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
        <td>Abono Tratamiento Eduardo Villota</td>
        <td>103.00</td>
        <td>103.00</td>
        <td><a href="" class="red-text">Eliminar</a></td>
      </tr>
      <tr>
        <td>4</td>
        <td>1</td>
        <td>Abono Tratamiento Eduardo Villota</td>
        <td>103.00</td>
        <td>103.00</td>
        <td><a href="" class="red-text">Eliminar</a></td>
      </tr>
      </table>
      </div>
      <div class="row">
      <div class="input-field col s2">
          <span class="btn"> Guardar<span>
      </div>
      <div class="input-field col s2">
          <span class="btn red"> Candelar<span>
      </div>
        <div class="col s3 offset-s5">
           <h5 class="right-align">Sub 0: 0.00 </h5>
           <h5 class="right-align">Sub 12: 0.00 </h5>
           <h5 class="right-align">IVA: 0.00 </h5>
           <h5 class="right-align"><span class="teal-text">Total: $100.00</span></h5>
        </div>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
  
</script>