  <div class="row card">
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Eduardo Villota</span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Historia: <b>1000</b></span>
  </div>
  <div class="col s4">
    <span style="font-size:18px;" class="teal-text teal-darken-4">Estado 3 / Nueva sesion</span>
  </div>
    <div class="col s12">
    <br>
      <span class="grey-text" style="font-size:18px;">Datos Paciente:</span>
    <br>
      <div class="row">
        <div class=" col s3">
        <b class="teal-text text-lighten-2">Nombres: </b> 
        <span class="grey-text text-darken-2">Eduardo Villota</span>
        </div>
        <div class="col s3">
        <b class="teal-text text-lighten-2">Cédula: </b> 
        <span class="grey-text text-darken-2">1722919725</span>
        </div>    
        <div class="col s3">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">0992936569</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Referente: </b> 
        <span class="grey-text text-darken-2">Dr. German Lopez</span>
        </div>
        
      </div>
      <div class="row">
         <div class="col s5">
        <b class="teal-text text-lighten-2">Manejo: </b> 
       <span class="grey-text text-darken-2"> Indicaciones de manejo en presion de la camar</span>
        </div>
         <div class="col s4">
        <b class="teal-text text-lighten-2">Examen Físico: </b> 
        <span class="grey-text text-darken-2">Agun Valor Para el Examen</span>
        </div>
         <div class="col s3">
        <b class="teal-text text-lighten-2">Registrado: </b> 
        <span class="grey-text text-darken-2">2011-05-01</span>
        </div>
      </div>
<span class="grey-text" style="font-size:18px;">Datos Médico Tratante:</span>
            <div class="row">
        <div class="col s3">
          <b class="teal-text text-lighten-2">Médico: </b> 
        <span class="grey-text text-darken-2">Dr. Laura Moncayo</span>
</div>
        <div class="col s3">
        <b class="teal-text text-lighten-2">Celular: </b> 
       <span class="grey-text text-darken-2">0992936569</span>
        </div>    
        <div class="col s3">
        <b class="teal-text text-lighten-2">Telef: </b> 
        <span class="grey-text text-darken-2">023203521</span>
        </div>  
        <div class="col s3">
        <b class="teal-text text-lighten-2">Mail: </b> 
        <span class="grey-text text-darken-2">eduardouio7@gmail.com</span>
        </div>
      </div>

      <span class="grey-text" style="font-size:18px;">Sesiones:</span>
            <div class="row">
        <div class="col s8">
         <table class="bordered">
           <tr>
             <th>ID</th>
             <th>Fecha</th>
             <th>Hora</th>
             <th>Personal</th>
             <th>Equipo</th>
           </tr>
           <tr>
             <td>1</td>
             <td>2012-01-02</td>
             <td>16:21</td>
             <td>Juan Casas</td>
             <td>Maquina 1000</td>
           </tr>
                      <tr>
             <td>1</td>
             <td>2012-01-02</td>
             <td>16:21</td>
             <td>Juan Casas</td>
             <td>Maquina 1000</td>
           </tr>
                      <tr>
             <td>1</td>
             <td>2012-01-02</td>
             <td>16:21</td>
             <td>Juan Casas</td>
             <td>Maquina 1000</td>
           </tr>
                      <tr>
             <td>1</td>
             <td>2012-01-02</td>
             <td>16:21</td>
             <td>Juan Casas</td>
             <td>Maquina 1000</td>
           </tr>
         </table>
      </div>

        <div class="col s3 offset-s1">
       <span class="btn">Nueva Sesion</span>
        </div>    
      </div>
      <br>
       <span class="blue-text" style="font-size:18px;">Costos:</span>
      <div class="row">
        <div class="col s2">
        <span class="grey-text text-darken-2">Sesiones</span>
        </div>
        <div class="col s2">
          <span class="grey-text text-darken-2">Descuento</span>
        </div>
        <div class="col s2">
        <span class="grey-text text-darken-2">Costo</span>
        </div>
        <div class="col s2">
        <span class="grey-text text-darken-2">IVA</span>
        </div>
         <div class="col s2">
        <span class="grey-text text-darken-2">Total</span>
        </div>
         <div class="col s2">
        <span class="grey-text text-darken-2">Saldo</span>
        </div>
      </div>
      <div class="row">
        <div class="col s2">
        <span class="grey-text text-darken-4" style="font-size:18px;">4</span>
        </div>
        <div class="col s2">
          <span class="grey-text text-darken-4" style="font-size:18px;">10%</span>
        </div>
        <div class="col s2">
        <span class="grey-text text-darken-4" style="font-size:18px;">$ 291.10</span>
        </div>
        <div class="col s2">
        <span class="grey-text text-darken-4" style="font-size:18px;">0.00</span>
        </div>
        <div class="col s2">
        <span class="grey-text text-darken-4" style="font-size:18px;">$291.10</span>
        </div>
         <div class="col s2">
        <span class="red-text text-darken-4" style="font-size:20px;">$61.10</span>
        </div>
      </div>
<span class="blue-text" style="font-size:18px;">Registro de Pagos:</span>
                  <div class="row">
        <div class="col s8">
         <table class="bordered">
           <tr>
             <th>Factura</th>
             <th>Fecha</th>
             <th>SubT 0</th>
             <th>Sub T12</th>
             <th>Total</th>
           </tr>
           <tr>
             <td>1000</td>
             <td>2013-01-10</td>
             <td>0.00</td>
             <td>100.00</td>
             <td>100.00</td>
           </tr>
           <tr>
             <td>1010</td>
             <td>2013-01-10</td>
             <td>0.00</td>
             <td>30.00</td>
             <td>30.00</td>
           </tr>
         </table>
      </div>

        <div class="col s3 offset-s1">
       <span class="btn">Emitir Factura</span>
        </div>    
      </div>
      <div class="row">
        <div class="col s2 offset-s10">
          <button class="btn">Volver</button>
        </div>
      </div>
    </div>

  </div>