<div class="container">
<div id="modal1" class="modal modal-fixed-footer">
<div class="modal-content">
      

            <h3 class="text-left"><span class="glyphicon glyphicon-user">&nbsp;</span>{{historia.nombres}} 
            <span class="pull-right glyphicon glyphicon-folder-close"> Historia: {{historia.id_historia}}</span>
         </h3>
  
       <a href="#/asignar-antecedente/{{historia.id_historia}}" class="btn  blue">
   Asignar Antecedente
   </a>
         <table class="striped">
            <tbody>
               <tr>
                  <td ><b>C&eacute;dula:&nbsp;&nbsp;</b></td>
                  <td>{{historia.id_paciente}}</td>
               </tr>
               <tr>
                  <td><b>Telefono:&nbsp;&nbsp;</b></td>
                  <td>{{historia.telefono}}</td>
               </tr>
               <tr>
                  <td><b>Email:&nbsp;&nbsp;</b></td>
                  <td>{{historia.mail}}</td>
               </tr>
               <tr>
                  <td><b>Fecha Nacimiento:&nbsp;&nbsp;</b></td>
                  <td>{{historia.fecha_nacimiento}}</td>
               </tr>
               <tr>
                  <td><b>Direcci&oacute;n:&nbsp;&nbsp;</b></td>
                  <td>{{historia.direccion}}</td>
               </tr>
               <tr>
                  <td><b>Examen F&iacute;sico:&nbsp;&nbsp;</b></td>
                  <td>{{historia.examen_fisico}}</td>
               </tr>
               <tr>
                  <td ><b>Manejo:&nbsp;&nbsp;</b></td>
                  <td>{{historia.manejo}}</td>
               </tr>
               <tr>
                  <td ><b>Nombre Familiar:&nbsp;&nbsp;</b></td>
                  <td>{{historia.nombre_familiar}}</td>
               </tr>
               <tr>
                  <td ><b>Tel&eacute;fono Familiar:&nbsp;&nbsp;</b></td>
                  <td>{{historia.telefono_familiar}}</td>
               </tr>
               <tr>
                  <td><b>Direcci&oacute;n Familiar:&nbsp;&nbsp;</b></td>
                  <td>{{historia.direccion_familiar}}</td>
               </tr>
               <tr>
                  <td><b>Fecha Registro:&nbsp;&nbsp;</b></td>
                  <td>{{historia.creado}}</td>
               </tr>
               <tr>
                  <td colspan="2">
                     <h4>
                        <b> M&eacute;dico Referente</b>
                     </h4>
                  </td>
               </tr>
               <tr>
                  <td><b>Nombres:</b></td>
                  <td>{{historia.nombre_referente}}</td>
               </tr>
               <tr>
                  <td><b>Tel&eacute;fono:</b></td>
                  <td>{{historia.telefono_referente}}</td>
               </tr>
               <tr>
                  <td><b>Email:</b></td>
                  <td>{{historia.mail_referente}}</td>
               </tr>
               <tr>
                  <td colspan="2">
                     <h4><b>Antecedentes M&eacute;dicos</h4>
                  </td>
               </tr>
               <tr ng-repeat="row in listaAntecedentes">
                  <td><b>{{row.tipo}}:</b>&nbsp;&nbsp;</td>
                  <td>{{row.detalle}}</td>
               </tr>
            </tbody>
         </table>
         </div>
         <div class="modal-footer">


    <div class="row">
<div class="col s6">
   &nbsp;
      </div>
      <div class="col s2">
          <a href="#/editar/{{historia.id_historia}}" class="btn blue">
   Editar
   </a>
      </div>
      <div class="col s2">
         <a href="getReporteHistoria/{{historia.id_historia}}" target="_bank" class="btn blue">
   Imprimir
   </a>
      </div>
      <div class="col s2">
         <a href="getReporteHistoria/{{historia.id_historia}}" target="_bank" class="btn red darken-3">
   Borrar
   </a>
      </div>

    </div>
          
</div>
</div>
      </div>
  </div>
  <script type="text/javascript">
  $('#modal1').openModal();
  </script>