<!-- Inicio de contenedor de la app de Personal-->
<div>
<div class="col-lg-8" style="border:1.5px solid #ccc;">
      <div class="form-horizontal" name="frmPersonal">
<fieldset>
    <p class="text-primary">Creación de Tratamientos</p>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label" >Paciente:</span>  
  <div class="col-md-4">
  <input name="id_paciente" ng-model="id_paciente" placeholder="Cedula/Pasaporte" class="form-control input-md" type="text" maxlength="10">
  <div ng-show="!id_paciente">
  <small class="text-danger">Requerido</small>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label" >Médico:</span>  
  <div class="col-md-4">
  <input name="id_personal" ng-model="id_personal" placeholder="Cedula/Pasaporte" class="form-control input-md" type="text" maxlength="10">
  <div ng-show="!id_personal">
  <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label" >Nro de Sesiones:</span>  
  <div class="col-md-4">
  <input name="nro_sesiones" ng-model="nro_sesiones" placeholder="Nro de Sesiones" class="form-control input-md" type="number" maxlength="2">
  <div ng-show="!nro_sesiones">
  <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Forma de Pago:</span>  
  <div class="col-md-5">
  <input name="forma_pago" ng-model="forma_pago" placeholder="Ingrese la forma de pago" class="form-control input-md" type="text" maxlength="40">
    <div ng-show="!forma_pago">
      <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>

<div class="form-group">
  <span class="col-md-2 control-label">Banco:</span>  
  <div class="col-md-5">
  <input name="tarjeta_banco" ng-model="tarjeta_banco" placeholder="Ingrese la forma de pago" class="form-control input-md" type="text" maxlength="40">
    <div ng-show="!tarjeta_banco">
      <small class="text-danger">Requerido</small>
      <br> <p class="label label-info">Visa Banco Pichincha, Cheque Produbanco, Etc</p>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Costo Tratamiento:</span>  
  <div class="col-md-4">
  <input name="valor" ng-model="valor" placeholder="00.00" class="form-control input-md" type="number" maxlength="10">
  <div ng-show="!tarjeta_banco">
      <small class="text-danger">Requerido</small>
      <br> <p class="label label-info">195.20</p>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Observaciones:</span>  
  <div class="col-md-6">
  <input name="notas" ng-model="notas" placeholder="Ciudad,Dirección,Edificio" class="form-control input-xx" type="text" maxlength="120">
  </div>
</div>
<hr>
</fieldset>
<div class="form-group">
    <span class="col-md-2 control-label">
        <button ng-click="validarFrmPersonal()" class="btn btn-primary"> Guardar Registro </button>
    </span>
</div>
</div>
</div>
    <div class="col-lg-4">
        <p href="#" class="text-primary">Acciones de Registro</p>
        <a class="btn btn-primary" ng-click="limpiarForm()"><span class="glyphicon glyphicon-plus"></span>
            &nbsp;&nbsp;Nuevo Registro&nbsp;
        </a>
        <br><br>
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listar Todo &nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <br><br>
        <a href="#" class="btn btn-danger" ng-click="cerrarForm"><span class="glyphicon glyphicon-remove"></span>
            Cerrar Formulario
        </a>
        <br><br>
        <div class="well well-info">
          <p class="alert alert-success">
            El registro para <b>{{nombres}}</b> se ha guardado correctamente!.

          </p>
        </div>

    </div>
</div>
<!--fin  contenedor de la app de Personal-->




<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Motivo Tratamiento:</span>  
  <div class="col-md-8">
  <input name="motivo_tratamiento" ng-model="historia.motivo_tratamiento" placeholder="Motivo Del Tratamiento" class="form-control input-xx" type="text" maxlength="360">
  <div ng-show="!motivo_tratamiento">
      <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Examen Físico:</span>  
  <div class="col-md-8">
  <input name="examen_fisico" ng-model="historia.examen_fisico" placeholder="Examen Físico" class="form-control input-xx" type="text" maxlength="360">
  <div ng-show="!examen_fisico">
      <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Manejo:</span>  
  <div class="col-md-8">
  <input name="manejo" ng-model="historia.manejo" placeholder="Manejo" class="form-control input-xx" type="text" maxlength="180">
  </div>
</div>