<!-- Inicio de contenedor de la app de Personal-->
<div>
<div class="col-lg-8" style="border:1.5px solid #ccc;">
      <div class="form-horizontal" name="frmPersonal">
<fieldset>
    <p class="text-primary">Registro de Clientes Medicina Hiperbarica S.A.</p>
<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label" >Cédula/RUC:</span>  
  <div class="col-md-4">
  <input name="id_cliente" ng-model="id_cliente" placeholder="Cedula/RUC" class="form-control input-md" type="text" maxlength="13">
  <div ng-show="!id_cliente">
  <small class="text-danger">Requerido</small>
  <br> <p class="label label-info">Debe contener 13 digitos en caso de pasaporte completar con 001</p>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Nombres:</span>  
  <div class="col-md-5">
  <input name="nombres" ng-model="nombres" placeholder="Ingrese los nombres" class="form-control input-md" type="text" maxlength="40">
    <div ng-show="!nombres">
      <small class="text-danger">Requerido</small>
      <br> <p class="label label-info">Ingresar al menos nombre y apellido</p>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Telefono:</span>  
  <div class="col-md-4">
  <input name="telefono" ng-model="telefono" placeholder="Teléfono" class="form-control input-md" type="text" maxlength="10">
  <div ng-show="!telefono">
      <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <span class="col-md-2 control-label">Direccion:</span>  
  <div class="col-md-6">
  <input name="direccion" ng-model="direccion" placeholder="Ciudad,Dirección,Edificio" class="form-control input-xx" type="text" maxlength="120">
    <div ng-show="!direccion">
      <small class="text-danger">Requerido</small>
  </div>
  </div>
</div>


<hr>
</fieldset>
<div class="form-group">
    <span class="col-md-2 control-label">
        <button ng-click="validarFrmPersonal()" class="btn btn-primary"> Guardar Registro </button>
    </span>
</div>
</div>
</div>
    <div class="col-lg-4">
        <p href="#" class="text-primary">Acciones de Registro</p>
        <a class="btn btn-primary" ng-click="limpiarForm()"><span class="glyphicon glyphicon-plus"></span>
            &nbsp;&nbsp;Nuevo Registro&nbsp;
        </a>
        <br><br>
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listar Todo &nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <br><br>
        <a href="#" class="btn btn-danger" ng-click="cerrarForm"><span class="glyphicon glyphicon-remove"></span>
            Cerrar Formulario
        </a>
        <br><br>
        <div class="well well-info">
          <p class="alert alert-success">
            El registro para <b>{{nombres}}</b> se ha guardado correctamente!.
          </p>
        </div>

    </div>
</div>
<!--fin  contenedor de la app de Personal-->